DEPLOYER_PRIVATE_KEY=YOUR_DEV_WALLET_PRIVATE_KEY
AMOY_RPC_URL=https://polygon-amoy.drpc.org
POLYGON_RPC_URL=

SETTLEMENT_TOKEN_NAME=SettleMint Test USD
SETTLEMENT_TOKEN_SYMBOL=smUSD
SETTLEMENT_TOKEN_DECIMALS=6
SETTLEMENT_TOKEN_INITIAL_SUPPLY=1000000
SETTLEMENT_TOKEN_INITIAL_HOLDER=YOUR_DEV_WALLET_ADDRESS
